@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="jumbotron">
    <h2>Práctica de contabilidad</h2>
    <p>Modesto proyecto que permite introducir asientos contables, obtener balances y resultados, para practicar contabilidad.</p>
</div>